@import url('https://fonts.googleapis.com/css?family=Exo');

body {
  /*background-image: url('./images/construction_fails_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;*/
}

h1 {
  color: blue;
  font-family: 'Exo', sans-serif;
}

.cont {
  width: 100%;
  margin: 0;
  padding: 0;
}
